.tsv__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  background-image: "";
}

.tsv__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tsv__navbar-links_logo {
  margin-right: 2rem;
}

.tsv__navbar-links_logo img {
  /* width: 62.56px;
  height: 16.02px; */
  width: 60px;
}

.tsv__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.tsv__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tsv__navbar-links_container p,
.tsv__navbar-sign p,
.tsv__navbar-menu_container p {
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;

  margin: 0 1rem;
  cursor: pointer;
}

.tsv__navbar-sign button,
.tsv__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  /* Layer blur background property */
  backdrop-filter: blur(20px);
  background-image: "";
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.tsv__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.tsv__navbar-menu svg {
  cursor: pointer;
}

.tsv__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(7px);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.tsv__navbar-menu_container p {
  margin: 1rem 0;
}

.tsv__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .tsv__navbar-links_container {
    display: none;
  }

  .tsv__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .tsv__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .tsv__navbar {
    padding: 2rem;
  }

  .tsv__navbar-sign {
    display: none;
  }

  .tsv__navbar-menu_container {
    top: 20px;
  }

  .tsv__navbar-menu_container-links-sign {
    display: block;
  }
}
