.tsv__header {
  display: flex;
  flex-direction: row;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  height: 85vh;
  content: "";
  backdrop-filter: blur(7px);
  margin: 5%;
}

.tsv__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.tsv__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.tsv__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: var(--color-text);

  margin-top: 1.5rem;
}

.tsv__header-content .gradient__text-logo  {  
  color: var(--color-logotext);
}


.tsv__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;

  display: flex;
  flex-direction: row;
}

.tsv__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  background: var(--color-footer);
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tsv__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tsv__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .tsv__header {
    flex-direction: column;
  }

  .tsv__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .tsv__header-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

}

@media screen and (max-width: 490px) {
  .tsv__header-content h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .tsv__header-content p {
    font-size: 14px;
    line-height: 24px;
  }

  .tsv__header-content__input input,
  .tsv__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}
